/* display: table + margin: 0 auto ,encloses a div to the text only like in social icons */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: whitesmoke;
  background-color: #212121;
}

/* Start Header Styles */

.navbar .navbar-nav .nav-item.active .nav-link{
  background-color: transparent;
  color: #00B0DC;
  border-radius: 0;
}

.navbar .navbar-nav .nav-item .nav-link:focus, .navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  color: #00B0DC;
}
.navbar.navbar-transparent {
    padding-top: 0.3rem;
}

/* End Header Styles */

/* Start Banner Styles */

.site-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.author-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  background: url(../assets/images/banner/about1.jpg) no-repeat;
  background-size: 100%;
  background-position: 40% 0;
}

.name{
  padding-top: 1rem;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
}

.type-effect{
  font-size: 1.3rem;
  text-align: center;
}

.social-icons {
  padding-top: 20px;
}

.social-icons ul {
  padding-top: 20px;
  width: 20rem;
  height: 2rem;
  padding:0;
  text-align: center;
}
.social-icons ul .list {
  padding-left: 8px;
  padding-right: 8px;
  list-style: none;
  display: inline-block;
}

.social-icons ul .list a .icon-white{
  font-size: 22px;
  opacity: 0.6;
}

.social-icons ul .list a .icon-white:hover{
  font-size: 22px;
  opacity: 1;
}

/* End Banner Styles */

/* Start About Me Styles */

.about-me-text {
  font-size: 3rem;
  margin-bottom: 5vh;
}

/* End About Me Styles */

/* Start Experience and Skills Styles */

.experience-list {
  padding: 0;
  border-left: 2px solid transparent;
  list-style: none;
}
.experience-list-item {
  padding: 0 1rem 0 1rem;
}
.experience-list-item:hover,.experience-list-item:active {
  padding: 0 1rem 0 1rem;
  border-left: 2px solid blue;
}
.skill-list {
  padding: 0;
  list-style: none;
}
/* End Experience and Skills Styles */

/* Start Projects Area Styles */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bmd-form-group label {
  color: black;
}
