/* display: table + margin: 0 auto ,encloses a div to the text only like in social icons */
* {
  color: whitesmoke;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}
.bg-img {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
    ),
    url(../assets/images/banner/Banner_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.navbar .navbar-nav .nav-item.active .nav-link{
  background-color: transparent;
  color: #00B0DC;
  border-radius: 0;
}

.navbar .navbar-nav .nav-item .nav-link:focus, .navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: #00B0DC;
}
.navbar.navbar-transparent {
    padding-top: 0;
}
/* .navbar.navbar-transparent .navbar-toggler .navbar-toggler-icon {
  background-color: whitesmoke;
} */
