/* display: table + margin: 0 auto ,encloses a div to the text only like in social icons */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: #f0f0f0;
  background-color: #121212;
}

/* Start Header Styles */

.banner-bg {
  background-image: url(../pexels-eberhard-grossgasteiger-1421903.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height:100vh;
}
/* To override material css */
.navbar {
  background-color: rgba(51, 51, 51, 0.8)!important;
  color: #ffffff;
  padding: 0.5rem 0;
}
.navbar .navbar-nav .nav-item.active .nav-link{
  background-color: transparent;
  color: #03DAC6;
  border-radius: 0;
}
.navbar.navbar-transparent {
  padding: 0.5rem 0;
}
.navbar .navbar-nav .nav-item .nav-link:focus, .navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 40px;
  color: #03DAC6;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-color: #fff;
}
/* To override material css */
@media (max-width: 991px)
{
  .navbar-collapse:after{
    background-color: #121212;
  }
  .navbar-collapse .navbar-nav .nav-item .nav-link{
    color: #ffffff;
  }
  /* To get rid of default lines between two nav items */
  .navbar-collapse .navbar-nav .nav-item:after{
    background-color: transparent;
  }
  /* For active nav item */
  .navbar-collapse .navbar-nav .nav-item.active .nav-link:active, .navbar-collapse .navbar-nav .nav-item.active .nav-link:focus, .navbar-collapse .navbar-nav .nav-item.active .nav-link:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: #03DAC6;
  }
}

/* End Header Styles */

/* Start Banner Styles */

.site-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.author-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  background: url(../assets/images/banner/about1.jpg) no-repeat;
  background-size: 100%;
  background-position: 40% 0;
}

.name{
  padding-top: 1rem;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
}

.type-effect{
  font-size: 1.3rem;
  text-align: center;
}

.social-icons {
  padding-top: 20px;
}

.social-icons ul {
  padding-top: 20px;
  width: 20rem;
  height: 2rem;
  padding:0;
  text-align: center;
}
.social-icons ul .list {
  padding-left: 8px;
  padding-right: 8px;
  list-style: none;
  display: inline-block;
}

.social-icons ul .list a .icon-white{
  font-size: 22px;
  opacity: 0.6;
}

.social-icons ul .list a .icon-white:hover{
  font-size: 22px;
  opacity: 1;
}

/* End Banner Styles */

/* Start About Me Styles */

.about-me-text {
  font-size: 3rem;
  margin-bottom: 5vh;
}

/* End About Me Styles */

/* Start Experience and Skills Styles */

.experience-list {
  padding: 0;
  border-left: 2px solid transparent;
  list-style: none;
}
.experience-list-item {
  padding: 0 1rem 0 1rem;
}
.experience-list-item:hover,.experience-list-item:active {
  padding: 0 1rem 0 1rem;
  border-left: 2px solid blue;
}
.skill-list {
  padding: 0;
  list-style: none;
}
/* End Experience and Skills Styles */

/* Start Projects Area Styles */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bmd-form-group label {
  color: white;
}
.is-focused [class*=" bmd-label"],.is-focused [class^=bmd-label] {
  color: #03DAC6;
}
/* Modal */
.modal-content {
  background-color: #121212;
}
/* For X sign */
.modal .modal-header .close {
  color: #ffffff;
}
.form-control, .is-focused .form-control {
  background-image: linear-gradient(0deg,rgba(0, 255, 0, 0.4) 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);
}
.form-control:invalid {
  background-image: linear-gradient(0deg,rgba(255, 0, 0, 0.6) 2px,rgba(244,67,54,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);
}
/* Typing text */
.form-control{
  color: #ffffff;
}
.form-control:focus {
  color: #ffffff;
}
.btn{
  background-color: #03DAC6;
}
